body{
font-family: Arial;
background: linear-gradient(135deg,#4facfe,#00f2fe);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.card{
background:white;
padding:30px;
border-radius:15px;
width:320px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
text-align:center;
}

input{
width:100%;
padding:10px;
margin-top:5px;
margin-bottom:15px;
border-radius:6px;
border:1px solid #ccc;
}

button{
width:100%;
padding:12px;
background:#4facfe;
border:none;
color:white;
font-size:16px;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#007bff;
}

.result{
margin-top:20px;
}

.normal{
color:green;
}

.overweight{
color:orange;
}

.obese{
color:red;
}

table{
width:100%;
margin-top:15px;
border-collapse:collapse;
}

table, th, td{
border:1px solid #ccc;
padding:6px;
}

ul{
list-style:none;
padding:0;
margin-top:10px;
}